<h1> All Products</h1>

<% all_products = Product.includes(:user).all %>

<ul>
  <% all_products.each do |product| %>
  
  <li>
    Product Name: "<%= product.name %>"" costs $<%= product.price %>
    Sold by <%= product.user.name %>
  </li>
  
<%end%>
</ul>